/* SCSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
}

body {
  background-image: url(../icon.png);
  font-family: "Courier New", Courier, monospace;
  color: var(--white);
}

.class {
  font-size: 2rem;
  color: hsl(210, 100%, 60%) !important;
}

#id:nth-child(odd) {
  color: #123456;
}

@media screen and (max-width: 666px) {
}

.scss {
  position: relative;
  padding: 50vh 0 get-size("800") 0;
}
